@media screen and (max-width: 320px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}

	.header-logo {
		width: 40%;
	}

	.header-detail {
		width: 50%;
	}

	.btn-sm-menu {
		display: block;
	}
	
	.main-menu {
		width: 100%;
		margin: 0 auto;
		padding: 0;
		/*overflow: hidden;*/
		display: none;
	}
	
	.rt-header {
		width: 100%;
		float: none;
	}
	
/*	.menu-item {
		display: none;
	}*/

	.rt-home li {
		width: 100%;
		padding: 0;
		text-align: right;
	}

	.contact {
		width: 100%;
		padding-top: 30px;
	}

	.contact li a {
		font-size: 12px;
    	
	}
	
	.search-box {
		width: 100%;
	}
	
	.search-detail:hover #input-search {
		width: 90px;
	}

	.search-detail a {
		padding: 0;
	}
	
	#input-search {
		font-size: 12px;
	}

	.res-log {
		height: 30px;
		padding-top: 30px;
	}

	.res-log li {
		padding-right: 25px;
	}

	.res-log li i {
		display: none;
	}
	
	.lf-header {
		display: none;

	}

	.header-detail hr {
		display: none;
	}
	.nb-detail {
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
		font-size: 14px;
	}
	
	.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
		width: 45%;
		padding: 0;
		margin-left: 13px;
	}

	.nb-info {
		width: 100%;
		font-size: 12px;
	}
	
	.title-welcome {
		font-size: 20px;
	}
	
	.welcome-content {
		width: 100%;
		font-size: 12px;
		padding-bottom: 20px;
	}

	.kidz {
		font-size: 24px;
		padding: 10px 0 10px 0;
	}

	.lf-welcome {
		width: 100%;
		padding-top: 10px;
	}
	
	.rt-welcome img {
		width: 44%;
		padding: 0;
		float: none;
	}
	
	.PLG {
		background-size: 100% auto;
		min-height: 480px;
	}

	.play-learn-grow {
		width: 100%;
		font-size: 30px;
		text-align: right;
	}

	.YNP {
		width: 100%;
		font-size: 24px;
	    margin: 5px 0px;
	    text-align: right;
	}

	.PLG-lf-content {
   		width: 100%;
	}

	.PLG-lf-content img {
		width: 100%;
		padding-top: 50px;
	}

	.PLG-rt-content {
	    width: 100%;
	    padding: 0;
	    float: none;
		text-align: center;
		display: flex;
    	flex-wrap: wrap;
	}

	.btn-admit {
		margin: 10px 0 10px 175px;
	    float: none;
	    width: 40%;
	    font-size: 12px;
	}
	
	.btn-readmore {
		padding: 13px 24px;
		margin: 10px auto;
	    float: none;
	    width: 40%;
	    font-size: 12px;
	}
	
	.featured-courses {
   		min-height: 2550px;
	}

	.fc-headtitle {
		font-size: 24px;
	}
	
	.fc-title p {
		font-size: 12px;
	}

	.fc-content {
		padding-top: 10px;
	}
	
	.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech  {
		width: 100%;
	}
	
	.fc-eng-class img, .fc-painting-class img, .fc-math-class img, .fc-tech img {
		width: 100%;
	}
	
	.fc-class-detail {
		width: 80%;
		padding: 0;
		margin: 0 auto;
	}
	
	.fc-class-type {
		font-size: 12px;
	}

	.fc-class-name {
		font-size: 16px;
	}
	
	.fc-class-descrip {
		font-size: 12px;
	}

	.applylink {
		font-size: 14px;
	}

	.thumbnail-ec, .thumbnail-pc, .thumbnail-mc, .thumbnail-t {
		width: 80%;
		margin: 0 auto;
		height: auto;
	}

	.btn-view-courses {
		padding: 16px 22px;
		font-size: 12px;
	}
	
	.school-facilities {
		min-height: 800px;
	}

	.sf-lf {
		width: 100%;
	}

	.sf-lf img {
		width: 100%;
	}
	
	.sf-lf-title {
		font-size: 24px;
	}

	.sf-lf p {
		font-size: 12px;
	}
	
	.sf-rt {
		width: 100%;
		margin: 20px 0;
	}

	.icon {
		font-size: 12px;
		width: 90px;
		height: 90px;
		margin: 3px;
	}

	.icon img {
		width: 40%;
		padding-top: 16px;
	}

	.teachers-head-title {
		font-size: 24px;
	}

	.teacher-head-detail {
		font-size: 12px;
		width: 100%;
	}

	.teacher-img img {
	    width: 140px;
	    height: 140px;
	    padding-top: 25px;
	}

	.principle {
	    position: relative;
	    display: inline-block;
	    padding-right: 4px;
	}
	
	.teacher-name {
	    font-size: 16px;
	}

	.teacher-detail {
    	font-size: 14px;
	}

	.job-title1, .job-title2, .job-title3 {
		width: 140px;
		padding: 0;
	}
	
	.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
		padding-right: 4px; 
	}

	.human-img {
		width: 54%;
	    margin: -50px 95px;
	}

	.human-img img {
    	width: 65%;
	}

	.cover-ah-img {
	    padding: 85px 0;
	    background-size: 67%;
	    height: 0px;
	}
	
	.about-human {
	    height: 600px;
	}

	.about-human-bg {
	    height: 490px;
	}

	.about-human-title {
	    font-size: 24px;
	}

	.about-human-detail {
	    width: 100%;
	    margin: 0 auto;
	    font-size: 14px;
	    text-align: justify;
	}
	
	.dot-abj {
	    margin: 25px 5px;
	    height: 10px;
	    width: 10px;
	}

	.nb-title {
		font-size: 24px;
	}
	
	.nb-listnews li a {
	    font-size: 12px;
	}
	
	.space hr {
		display: none;
	}

	.nb-news {
		width: 100%;
	}

	.nb-news img {
    	width: 100%;
    	height: auto;
    }

    .date-news {
		font-size: 12px;
		line-height: 20px;
    }

    .news-detail {
		font-size: 14px;
    }

	.top-bg {
		height: 230px;
		background-position: unset;
	}

	.signupfornews {
		font-size: 14px;
	}

    .footer-top-left, .footer-mid-address, .footer-mid-insta, .footer-top-right, .insta-img {
	    width: 100%;
	}

	.footer-top-right button {
	    font-size: 12px;
	    width: 36%;
	}

	.footer-top-right input {
	    font-size: 12px;
	    width: 56%;
	}

	.bottom-bg {
		background-size: 100%;
		height: 60px;
	}

	.footer-mid {
		padding-top: 35px;
	}

	.footer-mid-quicklink {
		width: 100%;
	    padding-top: 20px;
	}

	.fma-head, .footer-detail-head {
		font-size: 14px;
	}

	.footer-mid li, .footer-detail, .footer-mid li a {
		font-size: 12px;
	}

	.insta {
		width: 100%;
		font-size: 14px;
		text-align: left;
	}

	.insta-img img {
		width: 60px;
		height: 60px;
		margin-top: 15px;
	}

	.copyright {
		width: 100%;
		font-size: 10px;
		padding-right: 0;
	}

	.footer-bottom img {
		display: none;
	}

	.footerlink {
	    width: 100%;
	    padding: 10px 0;
	}

	.footerlink i {
    	font-size: 24px;
    	padding: 10px 10px;
	}
}



/*	img {
		width: 50%;
/*	.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech {
		width: 50%;
	}*/
/*}*/

/*@media screen and (max-width: 500px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	.header-logo {
		width: 40%;
	}
}*/

/*@media screen and (min-width: 501px) {
	.container {
	width: 80%;
	margin: 0 auto;
	}
}

@media screen and (min-width: 1140px) {
	.container {
	width: 90%;
	margin: 0 auto;
	}
}*/

@media screen and (min-width: 1140px) {
	.container {
	width: 1140px;
	margin: 0 auto;
	}
}