@media screen and (max-width: 320px)  {
	.container {
		margin: 0 1em;
	}
	.header-logo {
		width: 40%;
	}
	
	.header-detail {
		width: 60%;
	}

	.header-detail hr {
		display: none;
	}

	.contact {
		padding-top: 25px;
	}

	.lf-header {
		display: none;
	}
	
	.search-box {
		width: 100%;
		padding-bottom: 0.5em;
	}

	.rt-header {
		width: 100%;
	}

	.res-log {
		width: 100%;
	}
	
	#input-search {
		font-size: 14px;
	}

	.search-detail:hover #input-search {
		width: 70px;
	}

	#input-search:focus {
		width: 70px;
	}
	.res-log li {
		padding: 0 0.2em 0 1.6em;
	}
	.res-log li i {
		display: none;
	}

	.btn-sm-menu {
		display: block;
		float: right;
	}
	
	.main-menu {
		display: none;
	}

	.rt-home li {
		width: 100%;
		text-align: right;
		line-height: 1.3em;
	}

	.PLG-lf-content, .PLG-lf-content img, .PLG-rt-content {
		width: 100%;
	}
	
	.PLG-rt-content {
		padding-top: 2em;
	}

	.play-learn-grow {
		width: 100%;
		font-size: 36px;
		text-align: right;		
	}
	
	.YNP {
		width: 100%;
		font-size: 24px;
		text-align: right;
	}

	.btn-admit {
		width: 50%;
		font-size: 14px;
	}

	.lf-welcome {
		width: 100%;
	}
	
	.title-welcome {
		font-size: 20px;
	}
	
	.kidz {
		font-size: 24px;
	}

	.welcome-content {
		width: 100%;
		font-size: 12px;
	}

	.rt-welcome {
		width: 100%;
	}

	.rt-welcome img {
		width: 100%;
	}

	.btn-readmore {
		font-size: 14px;
	}

	.featured-courses {
    	min-height: 2500px;
	}

	.fc-headtitle {
		font-size: 24px;
	}

	.fc-title p {
		width: 100%;
		font-size: 12px;
	}
	
	.fc-content {
		flex-wrap: wrap;
		padding-bottom: 2.75em;
	}

	.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech {
		width: 80%;
		margin: 0 auto;
	}

	.fc-class-detail {
		width: 83%;
		min-height: 240px;
	}

	.class-type {
		font-size: 12px;
	}

	.fc-class-name {
		font-size: 16px;
	}

	.fc-class-descrip {
		font-size: 12px;
	}

	.applylink {
		font-size: 14px;
	}

	.btn-view-courses {
		font-size: 14px;
	}

	.school-facilities {
		min-height: 801px;
	}

	.sf-lf, .sf-lf img, .sf-rt {
		width: 100%;
	}
	
	.sf-rt {
		margin: 2.5em 0;
	}

	.sf-lf-title {
		font-size: 24px;
	}
	
	.sf-lf p {
		font-size: 12px;
	}

	.icon {
		margin: 0.5em;
		font-size: 12px;
		width: 25vw;
		height: 25vw;
	}

	.icon img {
		padding-top: 0.7em;
		width: 50%;
	}

	.teachers-head-title {
		width: 100%;
		font-size: 24px;
	}
	
	.teacher-head-detail {
		width: 100%;
		font-size: 12px;
	}

	.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
		width: 49%;
	}
		
	.teacher-name {
		font-size: 16px;
	}
	
	.teacher-detail {
		font-size: 12px;
	}
	
	.principle img, .dance-teacher img {
	border-radius: 0 0 0 18%;
	}

	.vince-principle img, .art-teacher img {
		border-radius: 0 0 18% 0;
	}

	.math-teacher img, .language-teacher img {
		border-radius: 0 0 18% 18%;
	}

	.music-teacher img, .painting-teacher img {
		border-radius: 0 0 18% 18%;
	}

	.principle:hover .job-title1, .vince-principle:hover .job-title2, .dance-teacher:hover .job-title1, .art-teacher:hover .job-title2, .math-teacher:hover .job-title3, .painting-teacher:hover .job-title3, .language-teacher:hover .job-title3, .music-teacher:hover .job-title3 {
		bottom: -7px;
		width: 105%;
		min-height: 30px;
		text-align: center;
		padding-top: 5px;
		margin-left: -7px;
		transition: 0.5s ease-in-out;
	}

	.cover-ah-img {
		min-height: 90px;
		background-size: auto 80%;
	}

	.human-img {
	    margin: 0 auto;
    	width: 50%;
	}

	.human-img img {
		width: 75%;
	}

	.about-human-title {
		font-size: 24px;
	}

	.about-human-detail {
		width: 100%;
		margin: 0;
		font-size: 14px;
		text-align: justify;
		margin: 1.5em 0;
	}

	.nb-title {
		font-size: 24px;
	}

	.nb-detail {
		font-size: 14px;
	}
	.nb-info {
		font-size: 12px;
	}
	.nb-listnews {
		width: 100%;
	}

	.nb-listnews li a {
		font-size: 14px;
	}

	.space hr {
		display: none;
	}

	.nb-news {
		width: 100%;
	}

	.nb-news img {
		min-height: auto;
	}

	.date-news {
		font-size: 12px;
		line-height: 1em;
	}

	.news-detail {
		font-size: 14px;
	}

	.nb-detail {
		display: flex;
    	flex-wrap: wrap;
	}

	.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
	    width: 48%;
	    padding-left: 5px;
	}
	.top-bg {
		min-height: 200px;
		background-size: auto 100%;
	}
	.cloud-bg {
	    min-height: 154px;
	    margin-top: -153px;
	}
	.footer-top-left {
		width: 100%;
	}
	.footer-top-right {
		width: 100%;
	}
	.signupfornews {
		font-size: 14px;
	}
	.footer-top-right button {
	    font-size: 12px;
	    min-height: 35px;
	    width: 30%;
	}
	.footer-top-right input {
	    font-size: 12px;
	    min-height: 31px;
	    width: 62%;
	}
	.footer-mid-address {
		width: 57%;
	}
	.footer-mid-quicklink {
		width: 43%;
	}
	.footer-mid-insta, .insta-img {
		width: 100%;
	}
	.fma-head, .footer-detail-head {
		font-size: 14px;
	}
	.insta {
		font-size: 14px;
		text-align: left;
	}
	.insta-img img {
		width: 60px;
		min-height: 60px;
	}
	.footer-detail, .footer-mid li a {
		font-size: 12px;
	}
	.footer-mid li {
		font-size: 12px;
	}
	.copyright {
		width: 70%;
		font-size: 12px;
	}
	.footer-bottom img {
		width: 65%;
		margin: 1em auto;
	}
	.footerlink {
		width: 100%;
		padding: 0 0 1.5em 0;
	}

	.footerlink i {
	    font-size: 24px;
	    padding: 0 0.4em;
	}
	.bottom-bg {
	    min-height: 60px;
	    background-size: 100% auto;
	}
}

@media screen and (min-width: 321px) and (max-width: 480px)  {
	.container {
		margin: 0 1em;
	}
	.header-logo {
		width: 40%;
	}
	
	.header-detail {
		width: 60%;
	}

	.header-detail hr {
		display: none;
	}

	.contact {
		padding-top: 25px;
	}

	.lf-header {
		display: none;
	}
	
	.search-box {
		width: 100%;
		padding-bottom: 0.5em;
	}

	.rt-header {
		width: 100%;
	}

	.res-log {
		width: 100%;
	}
	
	#input-search {
		font-size: 14px;
	}

	.search-detail:hover #input-search {
		width: 80px;
	}

	#input-search:focus {
		width: 80px;
	}
	.res-log li {
		padding: 0 0.2em 0 2em;
	}
	.res-log li i {
		display: none;
	}

	.btn-sm-menu {
		display: block;
		float: right;
	}
	
	.main-menu {
		display: none;
	}

	.rt-home li {
		width: 100%;
		text-align: right;
		line-height: 1.3em;
	}

	.PLG-lf-content, .PLG-lf-content img, .PLG-rt-content {
		width: 100%;
	}
	
	.PLG-rt-content {
		padding-top: 2em;
	}

	.play-learn-grow {
		width: 100%;
		font-size: 36px;
		text-align: right;		
	}
	
	.YNP {
		width: 100%;
		font-size: 24px;
		text-align: right;
	}

	.btn-admit {
		width: 50%;
		font-size: 14px;
	}

	.lf-welcome {
		width: 100%;
	}
	
	.title-welcome {
		font-size: 20px;
	}
	
	.kidz {
		font-size: 24px;
	}

	.welcome-content {
		width: 100%;
		font-size: 12px;
	}

	.rt-welcome {
		width: 100%;
	}

	.rt-welcome img {
		width: 100%;
	}

	.btn-readmore {
		font-size: 14px;
	}

	.featured-courses {
    	min-height: 2690px;
	}

	.fc-headtitle {
		font-size: 24px;
	}

	.fc-title p {
		width: 100%;
		font-size: 12px;
	}
	
	.fc-content {
		flex-wrap: wrap;
		padding-bottom: 2.75em;
	}

	.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech {
		width: 80%;
		margin: 0 auto;
	}

	.fc-class-detail {
		max-width: 192px;
		min-height: 240px;
		margin: 0 auto;
	}

	.class-type {
		font-size: 12px;
	}

	.fc-class-name {
		font-size: 16px;
	}

	.fc-class-descrip {
		font-size: 12px;
	}

	.fc-eng-class img, .fc-painting-class img, .fc-math-class img, .fc-tech img {
    	max-width: 232px;
    	margin: 0 auto;
	}
	
	.thumbnail-ec, .thumbnail-pc, .thumbnail-mc, .thumbnail-t {
		max-width: 232px;
		margin: 0 auto;
	}

	.applylink {
		font-size: 14px;
	}

	.btn-view-courses {
		font-size: 14px;
	}

	.school-facilities {
		min-height: 860px;
	}

	.sf-lf, .sf-lf img, .sf-rt {
		width: 100%;
		max-width: 416px;
	}
	
	.sf-rt {
		margin: 0.5em 0;
	}

	.sf-lf-title {
		font-size: 24px;
	}
	
	.sf-lf p {
		font-size: 12px;
	}

	.icon {
		margin: 0.5em;
		font-size: 12px;
		width: 25vw;
		height: 25vw;
		max-width: 100px;
    	max-height: 100px;
	}

	.icon:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	.icon img {
		padding-top: 3.7vw;
		width: 50%;
	}

	.teachers-head-title {
		width: 100%;
		font-size: 24px;
	}
	
	.teacher-head-detail {
		width: 100%;
		font-size: 12px;
	}

	.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
		width: 49%;
	}
		
	.teacher-name {
		font-size: 16px;
	}
	
	.teacher-detail {
		font-size: 12px;
	}
	
	.principle img, .dance-teacher img {
	border-radius: 25% 25% 0 25%;
	}

	.vince-principle img, .art-teacher img {
		border-radius: 25% 25% 25% 0;
	}

	.math-teacher img, .language-teacher img {
		border-radius: 25% 0 25% 25%;
	}

	.music-teacher img, .painting-teacher img {
		border-radius: 0 25% 25% 25%;
	}

	.principle:hover .job-title1, .vince-principle:hover .job-title2, .dance-teacher:hover .job-title1, .art-teacher:hover .job-title2, .math-teacher:hover .job-title3, .painting-teacher:hover .job-title3, .language-teacher:hover .job-title3, .music-teacher:hover .job-title3 {
		bottom: -7px;
		width: 105%;
		min-height: 30px;
		text-align: center;
		padding-top: 5px;
		margin-left: -7px;
		transition: 0.5s ease-in-out;
	}

	.cover-ah-img {
		min-height: 90px;
		background-size: auto 80%;
	}

	.human-img {
	    margin: 0 auto;
    	width: 50%;
	}

	.human-img img {
		width: 75%;
	}

	.about-human-title {
		font-size: 24px;
	}

	.about-human-detail {
		width: 100%;
		margin: 0;
		font-size: 14px;
		text-align: justify;
		margin: 1.5em 0;
	}

	.nb-title {
		font-size: 24px;
	}

	.nb-detail {
		font-size: 14px;
	}
	.nb-info {
		font-size: 12px;
	}
	.nb-listnews {
		width: 100%;
	}

	.nb-listnews li a {
		font-size: 14px;
	}

	.space hr {
		display: none;
	}

	.nb-news {
		width: 100%;
	}

	.nb-news img {
		min-height: auto;
	}

	.date-news {
		font-size: 12px;
		line-height: 1em;
	}

	.news-detail {
		font-size: 14px;
	}

	.nb-detail {
		display: flex;
    	flex-wrap: wrap;
	}

	.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
	    width: 44%;
	    padding-left: 1.5em;
	}
	.top-bg {
		min-height: 200px;
		background-size: auto 100%;
	}
	.cloud-bg {
	    min-height: 154px;
	    margin-top: -153px;
	}
	.footer-top-left {
		width: 100%;
	}
	.footer-top-right {
		width: 100%;
	}
	.signupfornews {
		font-size: 14px;
	}
	.footer-top-right button {
	    font-size: 12px;
	    min-height: 35px;
	    width: 30%;
	}
	.footer-top-right input {
	    font-size: 12px;
	    min-height: 31px;
	    width: 62%;
	}
	.footer-mid-address {
		width: 57%;
	}
	.footer-mid-quicklink {
		width: 43%;
	}
	.footer-mid-insta, .insta-img {
		width: 100%;
	}
	.fma-head, .footer-detail-head {
		font-size: 14px;
	}
	.insta {
		font-size: 14px;
		text-align: left;
	}
	.insta-img img {
		width: 60px;
		min-height: 60px;
	}
	.footer-detail, .footer-mid li a {
		font-size: 12px;
	}
	.footer-mid li {
		font-size: 12px;
	}
	.copyright {
		width: 100%;
		font-size: 12px;
		padding-right: 0;
	}
	.footer-bottom img {
		width: 65%;
		margin: 1em auto;
		max-width: 230px;
	}
	.footerlink {
		width: 100%;
		padding: 0 0 1.5em 0;
	}

	.footerlink i {
	    font-size: 24px;
	    padding: 0 4.2vw;
	}
	.bottom-bg {
	    min-height: 100px;
	    background-size: 100% auto;
	}
}

@media screen and (min-width: 481px) and (max-width: 600px)  {
	.container {
		margin: 0 1em;
	}
	.header-logo {
		width: 40%;
	}
	
	.header-detail {
		width: 60%;
	}

	.header-detail hr {
		display: none;
	}

	.contact {
		padding-top: 25px;
	}

	.lf-header {
		display: none;
	}
	
	.search-box {
		width: 100%;
		padding-bottom: 0.5em;
	}

	.rt-header {
		width: 100%;
	}

	.res-log {
		width: 92%;
	}
	
	#input-search {
		font-size: 16px;
	}

	.search-detail:hover #input-search {
		width: 120px;
	}

	#input-search:focus {
		width: 120px;
	}
	.res-log li {
		padding: 0 0.2em 0 3em;
	}
	.res-log li i {
		display: none;
	}

	.btn-sm-menu {
		display: block;
		float: right;
	}
	
	.main-menu {
		display: none;
	}

	.rt-home li {
		width: 100%;
		text-align: right;
		line-height: 1.3em;
	}

	.PLG-lf-content, .PLG-lf-content img, .PLG-rt-content {
		width: 100%;
	}
	
	.PLG-rt-content {
		padding-top: 2em;
	}

	.play-learn-grow {
		width: 100%;
		font-size: 48px;
		text-align: right;		
	}
	
	.YNP {
		width: 100%;
		font-size: 30px;
		text-align: right;
	}

	.btn-admit {
		width: 50%;
		font-size: 14px;
	}

	.lf-welcome {
		width: 100%;
	}
	
	.title-welcome {
		font-size: 24px;
	}
	
	.kidz {
		font-size: 30px;
	}

	.welcome-content {
		width: 100%;
		font-size: 12px;
	}

	.rt-welcome {
		width: 100%;
	}

	.rt-welcome img {
		width: 100%;
	}

	.btn-readmore {
		font-size: 14px;
	}

	.featured-courses {
    	min-height: 1400px;
	}

	.fc-headtitle {
		font-size: 24px;
	}

	.fc-title p {
		width: 100%;
		font-size: 12px;
	}
	
	.fc-content {
		flex-wrap: wrap;
		padding-bottom: 2.75em;
	}

	.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech {
		width: 50%;
		max-width: 232px;
	}
	.fc-eng-class, .fc-painting-class {
		margin-left: auto;
	}
	.fc-math-class, .fc-tech {
		margin-right: auto;
	}
	.fc-class-detail {
		width: 83%;
		max-width: 232px;
		min-height: 240px;
	}

	.class-type {
		font-size: 12px;
	}

	.fc-class-name {
		font-size: 16px;
	}

	.fc-class-descrip {
		font-size: 12px;
	}

	.applylink {
		font-size: 14px;
	}

	.btn-view-courses {
		font-size: 14px;
	}

	.school-facilities {
		min-height: 801px;
	}

	.sf-lf, .sf-lf img {
		width: 100%;
	}
	.sf-rt {
		width: 100%;
		max-width: 416px;
	}
	.sf-rt {
		margin: 0.5em 0;
	}

	.sf-lf-title {
		font-size: 24px;
	}
	
	.sf-lf p {
		font-size: 12px;
		width: 85%;
	}

	.icon {
		margin: 0.5em;
		font-size: 12px;
		width: 25vw;
    	height: 25vw;
    	max-width: 100px;
  		max-height: 100px;
	}

	.icon img {
		padding-top: 0.7em;
		width: 50%;
	}

	.teachers-head-title {
		width: 100%;
		font-size: 24px;
	}
	
	.teacher-head-detail {
		width: 100%;
		font-size: 12px;
	}

	.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
		width: 49%;
	}
		
	.teacher-name {
		font-size: 16px;
	}
	
	.teacher-detail {
		font-size: 12px;
	}

	.principle:hover .job-title1, .vince-principle:hover .job-title2, .dance-teacher:hover .job-title1, .art-teacher:hover .job-title2, .math-teacher:hover .job-title3, .painting-teacher:hover .job-title3, .language-teacher:hover .job-title3, .music-teacher:hover .job-title3 {
		bottom: -7px;
		width: 105%;
		min-height: 30px;
		text-align: center;
		padding-top: 5px;
		margin-left: -7px;
		transition: 0.5s ease-in-out;
	}

	.cover-ah-img {
		min-height: 90px;
		background-size: auto 80%;
	}

	.human-img {
	    margin: 0 auto;
    	width: 50%;
	}

	.human-img img {
		width: 75%;
		max-width: 160px;
	}

	.about-human-title {
		font-size: 24px;
	}

	.about-human-detail {
		width: 100%;
		margin: 0;
		font-size: 14px;
		text-align: justify;
		margin: 1.5em 0;
	}

	.nb-title {
		font-size: 24px;
	}

	.nb-detail {
		font-size: 14px;
	}
	.nb-info {
		font-size: 12px;
	}
	.nb-listnews {
		width: 100%;
	}

	.nb-listnews li a {
		font-size: 14px;
	}

	.space hr {
		display: none;
	}

	.nb-news {
		width: 100%;
	}

	.nb-news img {
		min-height: auto;
	}

	.date-news {
		font-size: 12px;
		line-height: 1em;
	}

	.news-detail {
		font-size: 14px;
	}

	.nb-detail {
		display: flex;
    	flex-wrap: wrap;
	}

	.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
	    width: 44%;
	    padding-left: 1.5em;
	}
	.top-bg {
		min-height: 200px;
		background-size: auto 100%;
	}
	.cloud-bg {
	    min-height: 154px;
	    margin-top: -153px;
	}
	.footer-top-left {
		width: 100%;
	}
	.footer-top-right {
		width: 100%;
	}
	.signupfornews {
		font-size: 14px;
	}
	.footer-top-right button {
	    font-size: 12px;
	    min-height: 35px;
	    width: 30%;
	}
	.footer-top-right input {
	    font-size: 12px;
	    min-height: 31px;
	    width: 62%;
	}
	.footer-mid-address {
		width: 57%;
	}
	.footer-mid-quicklink {
		width: 43%;
	}
	.footer-mid-insta, .insta-img {
		width: 100%;
	}
	.fma-head, .footer-detail-head {
		font-size: 14px;
	}
	.insta {
		font-size: 14px;
		text-align: left;
	}
	.insta-img img {
		width: 60px;
		min-height: 60px;
	}
	.footer-detail, .footer-mid li a {
		font-size: 12px;
	}
	.footer-mid li {
		font-size: 12px;
	}
	.copyright {
		width: 70%;
		font-size: 12px;
	}
	.footer-bottom img {
		width: 50%;
		max-width: 273px;
		margin: 1em auto;
	}
	.footerlink {
		width: 50%;
	}

	.footerlink i {
	    font-size: 24px;
	    padding-left: 0.6em;
	}
	.bottom-bg {
	    min-height: 100px;
	    background-size: 100% auto;
	}
}

@media screen and (min-width: 601px) and (max-width: 748px)  {
	.container {
		margin: 0 1em;
	}
	.header-logo {
		width: 40%;
	}
	
	.header-detail {
		width: 60%;
	}

	.header-detail hr {
		display: none;
	}

	.contact {
		padding-top: 25px;
	}

	.lf-header {
		display: none;
	}
	
	.search-box {
		width: 100%;
		padding-bottom: 0.5em;
	}

	.rt-header {
		width: 100%;
	}

	.res-log {
		width: 92%;
	}
	
	#input-search {
		font-size: 16px;
	}

	.search-detail:hover #input-search {
		width: 120px;
	}

	#input-search:focus {
		width: 120px;
	}
	.res-log li {
		padding: 0 0.2em 0 3em;
	}
	.res-log li i {
		display: none;
	}

	.btn-sm-menu {
		display: block;
		float: right;
	}
	
	.main-menu {
		display: none;
	}

	.rt-home li {
		width: 100%;
		text-align: right;
		line-height: 1.3em;
	}

	.PLG-lf-content, .PLG-lf-content img, .PLG-rt-content {
		width: 100%;
		max-width: 569px;
	}
	
	.PLG-rt-content {
		padding-top: 2em;
	}

	.play-learn-grow {
		width: 100%;
		font-size: 48px;
		text-align: right;		
	}
	
	.YNP {
		width: 100%;
		font-size: 30px;
		text-align: right;
	}

	.btn-admit {
		width: 50%;
		font-size: 14px;
	}

	.lf-welcome {
		width: 100%;
	}
	
	.title-welcome {
		font-size: 24px;
	}
	
	.kidz {
		font-size: 30px;
	}

	.welcome-content {
		width: 60%;
		font-size: 14px;
	}

	.rt-welcome {
		width: 100%;
	}

	.rt-welcome img {
		width: 100%;
	}

	.btn-readmore {
		font-size: 14px;
	}

	.featured-courses {
    	min-height: 1550px;
	}

	.fc-headtitle {
		font-size: 24px;
	}

	.fc-title p {
		width: 100%;
		font-size: 12px;
	}
	
	.fc-content {
		flex-wrap: wrap;
		padding-bottom: 2.75em;
	}

	.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech {
		width: 50%;
		max-width: 278px;
	}
	.fc-eng-class, .fc-painting-class {
		margin-left: auto;
	}
	.fc-math-class, .fc-tech {
		margin-right: auto;
	}
	.fc-class-detail {
		width: 83%;
	    max-width: 232px;
	    min-height: 283px;
	}

	.class-type {
		font-size: 12px;
	}

	.fc-class-name {
		font-size: 16px;
	}

	.fc-class-descrip {
		font-size: 12px;
	}

	.applylink {
		font-size: 14px;
	}

	.btn-view-courses {
		font-size: 14px;
	}

	.school-facilities {
		min-height: 801px;
	}

	.sf-lf, .sf-lf img {
		width: 100%;
	}
	.sf-rt {
		width: 100%;
		max-width: 416px;
	}
	.sf-rt {
		margin: 0.5em 0;
	}

	.sf-lf-title {
		font-size: 24px;
	}
	
	.sf-lf p {
		font-size: 12px;
		width: 60%;
	}

	.icon {
		margin: 0.5em;
		font-size: 12px;
		width: 25vw;
    	height: 25vw;
    	max-width: 100px;
  		max-height: 100px;
	}

	.icon img {
		padding-top: 0.7em;
		width: 50%;
	}

	.teachers-head-title {
		width: 100%;
		font-size: 24px;
	}
	
	.teacher-head-detail {
		width: 100%;
		font-size: 12px;
	}

	.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
		width: 49%;
	}
		
	.teacher-name {
		font-size: 16px;
	}
	
	.teacher-detail {
		font-size: 12px;
	}

	.principle:hover .job-title1, .vince-principle:hover .job-title2, .dance-teacher:hover .job-title1, .art-teacher:hover .job-title2, .math-teacher:hover .job-title3, .painting-teacher:hover .job-title3, .language-teacher:hover .job-title3, .music-teacher:hover .job-title3 {
		bottom: -7px;
		width: 105%;
		min-height: 30px;
		text-align: center;
		padding-top: 5px;
		margin-left: -7px;
		transition: 0.5s ease-in-out;
	}

	.cover-ah-img {
		min-height: 90px;
		background-size: auto 80%;
	}

	.human-img {
	    margin: 0 auto;
    	width: 50%;
	}

	.human-img img {
		width: 75%;
		max-width: 160px;
	}

	.about-human-title {
		font-size: 24px;
	}

	.about-human-detail {
		width: 100%;
		margin: 0;
		font-size: 14px;
		text-align: justify;
		margin: 1.5em 0;
	}

	.nb-title {
		font-size: 24px;
	}

	.nb-detail {
		font-size: 14px;
	}
	.nb-info {
		font-size: 12px;
	}
	.nb-listnews {
		width: 100%;
	}

	.nb-listnews li a {
		font-size: 14px;
	}

	.space hr {
		display: none;
	}

	.nb-news {
		width: 100%;
	}

	.nb-news img {
		min-height: auto;
	}

	.date-news {
		font-size: 12px;
		line-height: 1em;
	}

	.news-detail {
		font-size: 14px;
	}

	.nb-detail {
		display: flex;
    	flex-wrap: wrap;
	}

	.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
	    width: 44%;
	    padding-left: 1.5em;
	}
	.top-bg {
		min-height: 200px;
		background-size: auto 100%;
	}
	.cloud-bg {
	    min-height: 154px;
	    margin-top: -153px;
	}
	.footer-top-left {
		width: 100%;
	}
	.footer-top-right {
		width: 100%;
	}
	.signupfornews {
		font-size: 14px;
	}
	.footer-top-right button {
	    font-size: 12px;
	    min-height: 35px;
	    width: 30%;
	}
	.footer-top-right input {
	    font-size: 12px;
	    min-height: 31px;
	    width: 62%;
	}
	.footer-mid-address {
		width: 33%;
	}
	.footer-mid-quicklink {
		width: 33%;
	}
	.footer-mid-insta {
		width: 34%;
	}
	.insta-img {
		width: 100%;
	}
	.fma-head, .footer-detail-head {
		font-size: 14px;
	}
	.insta {
		font-size: 14px;
		text-align: left;
	}
	.insta-img img {
		width: 40px;
		min-height: 40px;
	}
	.footer-detail, .footer-mid li a {
		font-size: 12px;
	}
	.footer-mid li {
		font-size: 12px;
	}
	.copyright {
		width: 70%;
		font-size: 12px;
	}
	.footer-bottom img {
		width: 50%;
		max-width: 273px;
		margin: 1em auto;
	}
	.footerlink {
		width: 50%;
	}

	.footerlink i {
	    font-size: 24px;
	    padding-left: 0.6em;
	}
	.bottom-bg {
	    min-height: 130px;
	    background-size: 100% auto;
	}
}

@media screen and (min-width: 749px) and (max-width: 1024px)  {
	.container {
		margin: 0 1em;
	}
	.header-logo {
		width: 40%;
	}
	
	.header-detail {
		width: 60%;
	}
	.lf-header {
		display: block; 
	}
	.contact {
		padding-top: 30px;
	}
	
	.search-box {
		width: 49%;
		padding-bottom: 0.5em;
	}

	.res-log {
		width: 51%;
	}
	
	#input-search {
		font-size: 14px;
	}

	.search-detail:hover #input-search {
		width: 70px;
	}

	#input-search:focus {
		width: 70px;
	}
	.res-log li {
		padding: 0 0.7em;
	}
	.res-log li i {
		display: none;
	}

	.btn-sm-menu {
		display: none;
	}
	
	.main-menu li {
		width: auto;
		padding-right: 0.3em;
	}

	.rt-home li {
		line-height: 1.3em;
	}

	.PLG-lf-content, .PLG-rt-content {
		width: 50%;
		max-width: 569px;
	}
	.PLG-lf-content img {
		width: 100%;
	}

	.PLG-rt-content {
	}

	.play-learn-grow {
		width: 100%;
		font-size: 48px;
		text-align: right;		
	}
	
	.YNP {
		width: 100%;
		font-size: 30px;
		text-align: right;
	}

	.btn-admit {
		width: 50%;
		font-size: 14px;
	}

	.lf-welcome {
		width: 50%;
		padding-top: 2em;
	}
	
	.title-welcome {
		font-size: 20px;
	}
	
	.kidz {
		font-size: 24px;
	}

	.welcome-content {
		width: 60%;
		font-size: 12px;
	}

	.rt-welcome {
		width: 50%;
		padding-top: 0;
	}

	.rt-welcome img {
		width: 100%;
		padding-top: 5em;
	}

	.btn-readmore {
		font-size: 14px;
	}

	.featured-courses {
    	min-height: 800px;
	}

	.fc-headtitle {
		font-size: 24px;
	}

	.fc-title p {
		width: 100%;
		font-size: 12px;
	}
	
	.fc-content {
		flex-wrap: wrap;
		padding-bottom: 2.75em;
	}

	.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech {
		width: 25%;
	}

	.fc-class-detail {
		width: 83%;
		min-height: 240px;
	}

	.class-type {
		font-size: 12px;
		padding: 1em 1.2em;
	}

	.fc-class-name {
		font-size: 16px;
	}

	.fc-class-descrip {
		font-size: 12px;
	    padding: 1em 1.2em;
	    line-height: 1.4em;
	}

	.applylink {
		font-size: 14px;
	}

	.btn-view-courses {
		font-size: 14px;
	}

	.school-facilities {
		min-height: 550px;
	}

	.sf-lf, .sf-lf img {
		width: 60%;
	}
	
	.sf-rt {
		width: 40%;
		margin: 5.5em 0;
	}

	.sf-lf-title {
		font-size: 24px;
	}
	
	.sf-lf p {
		font-size: 12px;
		max-width: 60%;
	}

	.icon {
		margin: 0.5em;
		font-size: 12px;
		width: 11vw;
		height: 11vw;
	}

	.icon img {
		padding-top: 0.7em;
		width: 50%;
	}

	.teachers {
		min-height: 600px;
	}
	.teachers-head-title {
		width: 100%;
		font-size: 24px;
	}
	
	.teacher-head-detail {
		width: 100%;
		font-size: 12px;
	}

	.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
		width: 24%;
	}
		
	.teacher-name {
		font-size: 16px;
	}
	
	.teacher-detail {
		font-size: 12px;
	}

	.principle:hover .job-title1, .vince-principle:hover .job-title2, .dance-teacher:hover .job-title1, .art-teacher:hover .job-title2, .math-teacher:hover .job-title3, .painting-teacher:hover .job-title3, .language-teacher:hover .job-title3, .music-teacher:hover .job-title3 {
		bottom: -7px;
		width: 105%;
		min-height: 30px;
		text-align: center;
		padding-top: 5px;
		margin-left: -7px;
		transition: 0.5s ease-in-out;
	}

	.cover-ah-img {
		min-height: 90px;
		background-size: auto 80%;
	}

	.human-img {
	    margin: 0 auto;
    	width: 50%;
	}

	.human-img img {
		width: 75%;
		max-width: 160px;
	}

	.about-human-title {
		font-size: 24px;
	}

	.about-human-detail {
		width: 100%;
		margin: 0;
		font-size: 14px;
		text-align: justify;
		margin: 1.5em 0;
	}

	.nb-title {
		font-size: 24px;
	}

	.nb-detail {
		font-size: 14px;
	}
	.nb-info {
		font-size: 12px;
	}
	.nb-listnews {
		width: 100%;
	}

	.nb-listnews li a {
		font-size: 14px;
	}

	.space hr {
		display: none;
	}

	.nb-news {
		width: 30%;
	}

	.nb-news img {
		min-height: auto;
	}

	.date-news {
		font-size: 12px;
		line-height: 1em;
	}

	.news-detail {
		font-size: 14px;
	}

	.nb-detail {
		display: flex;
    	flex-wrap: wrap;
	}

	.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
	    width: 23%;
	    padding-left: 1em;
	}
	.top-bg {
		min-height: 200px;
		background-size: auto 100%;
	}
	.footer-top-left {
		width: 100%;
	}
	.footer-top-right {
		width: 100%;
	}
	.signupfornews {
		font-size: 14px;
	}
	.footer-top-right button {
	    font-size: 12px;
	    min-height: 35px;
	    width: 30%;
	}
	.footer-top-right input {
	    font-size: 12px;
	    min-height: 31px;
	    width: 62%;
	}
	.footer-mid-address {
		width: 33%;
	}
	.footer-mid-quicklink {
		width: 33%;
	}
	.footer-mid-insta {
		width: 34%;
	}
	.fma-head, .footer-detail-head {
		font-size: 14px;
	}
	.insta {
		font-size: 14px;
		text-align: right;
	}
	.insta-img img {
		width: 60px;
		min-height: 60px;
	}
	.insta-img {
		width: 100%;
	}
	.footer-detail, .footer-mid li a {
		font-size: 12px;
	}
	.footer-mid li {
		font-size: 12px;
	}
	.copyright {
		width: 35%;
		font-size: 12px;
	}
	.footer-bottom img {
		width: 25%;
	}
	.footerlink {
		width: 35%;
	}

	.footerlink i {
	    font-size: 24px;
	    padding: 0 0.4em;
	}
	.bottom-bg {
	    min-height: 170px;
	    background-size: 100% auto;
	}
}

@media screen and (min-width: 1025px) {
	
}