@font-face{
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-family: 'Roboto-Bold';
}
@font-face{
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}
@font-face{
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-family: 'Roboto-Black';
}
@font-face{
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-family: 'Roboto-Medium';
}
@font-face{
    src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf);
    font-family: 'RobotoSlab-Regular';
}
@font-face{
    src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf);
    font-family: 'RobotoSlab-Bold';
}
@font-face{
    src: url(../fonts/Dosis/Dosis-Bold.ttf);
    font-family: 'Dosis-Bold';
}
@font-face{
    src: url(../fonts/Dosis/Dosis-Medium.ttf);
    font-family: 'Dosis-Medium';
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

body {
	width: 1920px;
	margin: 0px auto;
}

header {
	height: 208px;
	width: 1920px;
	
}

.header {
	height: 208px;
	background: #00a4d3;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.header-logo {
	width: 278px;
	height: 208px;
	display: inline-block;
	padding: 30px 0;
}

.header-detail {
	width: 780px;
	height: 208px;
	float: right;
}

.contact {
	padding-top: 66px;
	width: 780px;
	display: inline-block;
}

.contact li {
	list-style: none;
	float: left;
	color: #e5f1f9;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	display: inline-block;
}

.contact li a {
	text-decoration: none;
	color: #e5f1f9;
	font-family: 'Roboto-Regular';
	font-size: 14px;
}

.lf-header li {
	list-style: none;
	float: left;
	display: inline-block;
	padding-right: 48px;
}

.lf-header li i {
	padding-right: 5px;
}

.rt-header li i {
	padding-right: 5px;
	padding-left: 41px;
	font-weight: bold;
}

.main-menu {
	width: 780px;
	display: inline-block;
}

.main-menu li {
	list-style: none;
	float: left;
	display: inline-block;
}
 
.home a{
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto-Black';
	font-size: 14px;
}

.rt-home li {
	padding-left: 64px;
}

.rt-home li a {
	text-decoration: none;
	color: #d2eaf4;
	font-family: 'Roboto-Regular';
	font-size: 14px;
}

.footerlink a i:hover, .rt-header li a:hover, .main-menu li a:hover, .footer-mid-quicklink a:hover {
	color: #ffcb0f;
}

.footer-top-left a:hover {
	color: #ffcb0f;
}

.PLG {
	width: 1920px;
	height: 868px;
	background-image:  url(../images/friends.png), url(../images/cloudback.png);
	background-repeat: no-repeat;
	background-color: #00a4d3;
	background-position: right bottom, center;
}

.PLG-container {
	width: 1530px;
	height: 868px;
}

.PLG-lf-content {
	width: 945px;
	float: left;
}

.PLG-lf-content img {
	/*width: 555px;
	height: 483px;*/
	float: right;
	padding-top: 150px; 
}

.PLG-rt-content {
	padding-top: 300px;
	width: 555px;
	display: inline-block;
	float: right;
}

.play-learn-grow {
	font-family: 'Dosis-Bold';
	font-size: 72px;
    color: #00a4d3;
    float: right;
}

.YNP {
	font-family: 'Dosis-Medium';
	font-size: 48px;
    color: #00a4d3;
    float: right;
    margin-top: 20px;
}

.btn-admit {
    background: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #ffffff;
	width: 180px;
    text-align: center;
	border: none;
	border-radius: 10px;
	float: right;
    margin: 40px 0;
    padding: 15px 0;
    text-decoration: none;
}

.welcome {
	width: 1920px;
	height: 508px;
	background-size: cover;
	background-position: center;
	background-color: #00a4d3;
	background-image: url(../images/wc_back.png);
}

.lf-welcome {
	width: 458px;
	display: inline-block;
	float: left;
	padding-top: 40px;
}

.rt-welcome {
	width: 682px;
	display: inline-block;
	padding-top: 50px;
}

.title-welcome {
	font-family: 'Dosis-Medium' ;
	font-size: 30px;
	color: #fff;
	padding-top: 20px;
}

.kidz {
	font-family: 'Dosis-Bold' ;
	font-size: 36px;
	color: #fff;
	padding: 10px 0 25px 0;
}

.welcome-content {
	max-width: 432px;
	padding-bottom: 40px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #b6dfef;
	text-align: justify;
}

.welcome-content p {
	line-height: 25px;
}

.btn-readmore {
	background: #ffffff;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #00a4d3;
	border: none;
	border-radius: 10px;
	padding: 17px 39px;
	text-decoration: none;
}

.btn-readmore:hover, .btn-admit:hover, .btn-view-courses:hover, .btn-submit:hover {
	color: #ffcb0f;
    background-color: #4F4A4A;
}

.featured-courses {
	width: 1920px;
	height: 1008px;
}

.featured-courses p {
	font-family: 'Roboto-Medium';
	font-size: 14px;
	color: #333333;
}

.fc-headtitle {
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #00a4d3;
	padding-top: 37px;
}
.fc-title p {
	max-width: 458px;
	font-family: 'Roboto-Medium';
	font-size: 14px;
	line-height: 22px;
}

.fc-eng-class{
	width: 285px;
	display: inline-block;
}

.fc-painting-class, .fc-math-class {
	width: 278px;
	display: inline-block;
}
.fc-tech {
	width: 291px;
	display: inline-block;
}

.fc-eng-class img, .fc-painting-class img {
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

.fc-math-class img, .fc-tech img {
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
}

.fc-content {
	display: flex;
	padding: 35px 0 60px 0;
}

.fc-class-detail {
	height: 293px;
	width: 245px;
	text-align: justify;
	background-color: #fafafa;
	border-radius: 10%;
	padding: 20px;
}

.class-type {
	color: #717171;
	font-family: 'Roboto-Medium';
	font-size: 14px;
	padding: 20px;
}

.class-type i {
	padding-right: 5px;
}

.fc-class-detail a:hover{
	color: #ffcb0f;
}

.fc-class-descrip {
	color: #8a8a8a;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	padding-bottom: 33px;
	padding: 22px 20px;
	line-height: 25px;
}

.fc-class-name {
	font-family: 'RobotoSlab-Regular';
	font-size: 24px;
	color: #000000;
	padding: 0 20px;
}

.applylink {
	color: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	text-decoration: none;
	padding: 0 20px;
}

.showcourses {
	text-align: center;
}

.btn-view-courses {
    background: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #ffffff;
    text-align: center;
	border: none;
	border-radius: 10px;
	padding: 16px 33px;
	text-decoration: none;
}

.school-facilities {
	background-image: url(../images/sc_back.png);
	background-color: #00a4d3;
	width: 1920px;
	height: 631px;
}

.sf-lf {
	width: 488px;
	height: auto;
	display: inline-block;
	float: left;
	padding-top: 50px;
}


.sf-rt {
	width: 570px;
	height: auto;
	display: inline-block;
	float: right;
	margin: 136px 0;
}

.icon {
	border: 1px ;
    border-radius: 19px;
    background-color: #fff ;
    width: 160px;
    height: 160px;
    text-align: center;
    justify-content: all;
    display: inline-block;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #00a4d3;
    float: left;
    margin: 15px;
}

.sf-lf-title {
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #ffffff;
	padding-top: 20px;
 }

.sf-lf p {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #ffffff;
	max-width: 488px;
	text-align: justify;
	line-height: 28px;
}

.teachers {
	width: 1920px;
	height: 859px;
	padding-top: 50px;
}

.teachers-head-title {
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #00a4d3;
	width: 555px;
}
.teacher-head-detail {
	font-family: 'Roboto-Medium';
	font-size: 15px;
	color: #505050;
	width: 555px;
	line-height: 25px;
	padding: 20px 0;
}

.teacher-img {
	display: grid;
	grid-template-columns: 290px 290px 290px 290px;
}

.teacher-img img {
	width: 263px;
	height: 263px;
	padding-top: 25px;
}

.job-title1, .job-title2, .job-title3 {
	position: absolute;
	bottom: 4px;
	background-color: #00a4d3;
	width: 263px;
	height: 37px;
	text-align: center;
	padding-top: 10px;
}

.job-title1 {
	border-radius: 0 0 0 29px;
}

.job-title2 {
	border-radius: 0 0 29px 0 ;
}

.job-title3 {
	border-radius: 0 0 29px 29px;
}

.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
	position: relative;
}

.principle img, .dance-teacher img {
	border-radius: 18% 18% 0% 18%;
}

.vince-principle img, .art-teacher img {
	border-radius: 18% 18% 18% 0%;
}

.math-teacher img, .language-teacher img {
	border-radius: 18% 0% 18% 18%;
}

.music-teacher img, .painting-teacher img {
	border-radius: 0% 18% 18% 18%;
}

.teacher-name {
	font-family: 'Dosis-Bold';
	font-size: 24px;
	color: #ffffff;
}

.teacher-detail {
	font-family: 'Dosis-Medium';
	font-size: 14px;
	color: #a3d4ea;
}

.about-john {
	width: 1920px;
	height: 752px;
	background-color: #00a4d3 ;
}

.about-john-bg {
	padding-top: 112px;
	width: 1920px;
	height: 640px;
	background-image: url(../images/about_john.png);
	background-position: bottom;
	background-repeat: no-repeat;
}

.cover-john-img {
	position: relative;
	padding: 72px 0;
	height: 220px;
	background-image: url(../images/cover_img.png);
	background-repeat: no-repeat;
	background-position: center;
}

.john-img {
	position: absolute;
	margin: 10px 465px;
}

.about-john-title {
	text-align: center;
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #fff;
}

.about-john-content {
	width: 940px;
	margin: 30px 98px;
	font-family: 'Roboto-Regular';
	font-size: 18px;
	color: #f4f9fc;
	line-height: 25px;
}

.nb-title {
	height: auto;
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #00a4d3;
	padding-top: 37px;
}

.nb-listnews li {
	display: inline-block;
	list-style: none;
	padding: 20px 0 20px 0;
}

.nb-listnews li a {
	font-family: 'Roboto-Medium'; 
	font-size: 16px;
	color: #808080;
	text-decoration: none;
}

.nb-listnews li a:hover {
	color: #00a4d3;
}

.space hr {
	width: 50px;
	border-color: #808080;
	margin-left: -5px;
	margin-right: -5px;
}

.nb-content {
	height: 350px;
}

.nb-news {
	width: 360px;
	display: inline-block;
	padding-right: 17px;
}

.nb-news p {
	width: 293px;
	line-height: 25px;
}

.nb-news img {
	width: 360px;
	border-radius: 13px;
}

.date-news {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #b2b2b2;
	line-height: 30px;	
}

.news-detail {
	font-family: 'Roboto-Regular';
	font-size: 16px;
	color: #505050;
	line-height: 30px;
}

.nb-detail {
	background-color: #f5f5f5;
	display: flex;
	font-family: 'Roboto-Medium';
	font-size: 18px;
	color: #00a4d3;
	margin-top: 20px;
}

.nb-detail img {
	height: 76px;
	padding: 47px 0 20px 0;
}

.nb-info {
	padding-top: 10px;
	width: 200px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #787878;
	padding-top: 10px;
	line-height: 20px;
}

.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
	width: 480px;
	height: 243px;
	padding-left: 150px;
}

.nb-address, .nb-office-hour {
	background-color: #f5f5f5;
}

.nb-notice-board, .nb-admission {
	background-color: #fafafa;
}



#footer {
	background-repeat: no-repeat;
	height: 1080px;
	width: 1920px;
	bottom: 0;
}

.top-bg {
	height: 260px;
	background-repeat: no-repeat;
	background-image: url(../images/rainbow.png);
	background-color: #00a4d3;
	background-position: top right;
}

.cloud-bg {
	height: 133px;
	background-repeat: no-repeat;
	background-image: url(../images/footercloud.png);
	margin-top: -132px;
}

.bottom-bg {
	background-repeat: no-repeat;
	background-image: url(../images/footerbackground.png);
	height: 333px;
}

.footer-top-left {
	width: 195px;
	display: inline-block;
	line-height: 25px;
}

.footer-top-right {
	width: 939px;
	display: inline-block;
}

.footer-top-right button, .footer-top-right input {
	float: right;
} 

.footer-top-right input {
	margin-right: 10px;
	border: 1px solid;
	border-color: #66c8e5;
	font-family: 'Roboto-Regular';
	font-size: 12px;
	height: 44px;
	width: 377px;
	color: #000;
	padding-left: 10px;
}

::-webkit-input-placeholder {
  	color: #b8b8b8;
}

.footer-top-right button {
	border: 1px;
    background-color: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 14px;
	color: #fff;
	background-color: #00a4d3;
	height: 48px;
	width: 143px;
	/*padding: 5px 20px;*/
}

.footer-mid {
	padding-top: 100px;
}

.footer-mid-address {
	width: 390px;
	list-style: none;
}

.footer-mid-quicklink {
	width: 264px;
	list-style: none;
}

.footer-mid-insta {
	width: 484px;
}

.insta {
	width: 457px;
	text-align: right;
}

.insta-img {
	width: 412px;
	float: right;
}

.insta-img li{
	display: inline-block;
	list-style: none;
	height: 30px;	
}

.insta-img img {
	border: 1px;
	border-radius: 27%;
    background-color: #00a4d3;
    margin-top: 30px;
    width: 100px;
    height: 100px;
	float: right;
}

.icon img {
	padding-top: 45px;
}

.top_content, .footer-mid, .bottom_content {
	display: flex;
	flex-wrap: wrap;
}

.top_content {
	padding-top: 197px;
	height: 65px;
}

.fma-head {
	font-family: 'Roboto-Bold';
	font-size: 16px;
	color: #00a4d3;
}

.footer-mid li {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}

.footer-mid li a {
	text-decoration: none;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}

.footer-detail-head {
	font-family: 'Roboto-Bold';
	font-size: 16px;
	color: #00a4d3;
}

.footer-detail {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #666666;
}

.signupfornews {
	text-decoration: none;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #00a4d3;
	max-width: 100px;
}

.footer-bottom {
	display: flex;
	flex-wrap: wrap;
}

.copyright {
	width: 400px;
	font-family: 'RobotoSlab-Bold';
	font-size: 14px;
	color: #00a4d3;
	padding: 40px 50px 0 0;
}

.footer-bottom img {
	width: 278px;
}

.insta {
	font-family: 'Roboto-Bold';
	font-size: 16px;
	color: #00a4d3;
	float: right;
}

.footerlink {
	width: 412px;
	padding-top: 40px;
	float: right;
}

.footerlink i {
	font-size: 36px;
	color: #00a4d3;
	padding-left: 40px;
}

.footerlink ul li {
	display: inline-block;
	float: left;
}

