@font-face{
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-family: 'Roboto-Bold';
}
@font-face{
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}
@font-face{
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-family: 'Roboto-Black';
}
@font-face{
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-family: 'Roboto-Medium';
}
@font-face{
    src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf);
    font-family: 'RobotoSlab-Regular';
}
@font-face{
    src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf);
    font-family: 'RobotoSlab-Bold';
}
@font-face{
    src: url(../fonts/Dosis/Dosis-Bold.ttf);
    font-family: 'Dosis-Bold';
}
@font-face{
    src: url(../fonts/Dosis/Dosis-Medium.ttf);
    font-family: 'Dosis-Medium';
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

body {
	width: 100%;
	margin: 0px auto;
}

header {
	height: 240px;
}

.header {
	min-height: 241px;
	background: #00a4d3;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header-logo {
	width: 24%;
	display: inline-block;
	padding: 1em 0;
}

.header-logo img {
	width: 100%;
	max-width: 273px;
}

.header-detail {
	width: 69%;
	float: right;
}

.contact {
	padding-top: 66px;
	width: 100%;
	min-height: 22px;
	display: inline-block;
}

.contact li {
	list-style: none;
	float: left;
	color: #e5f1f9;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	display: inline-block;
}

.contact li a {
	text-decoration: none;
	color: #e5f1f9;
	font-family: 'Roboto-Regular';
	font-size: 14px;
}

.lf-header {
	width: 42%;
	float: left;
}

.rt-header {
	width: 58%;
	font-weight: bold;
	float: right;
}

.lf-header li {
	list-style: none;
	float: left;
	display: inline-block;
	padding-right: 2.6em;
}

.lf-header li i {
	padding-right: 0.36em;
}

.rt-header li i {
	padding-left: 2em;
	padding-right: 0.3em;
}

.search-box {
	width: 57%;
}

.search-detail {
	float: right;
	min-height: 20px;
  	justify-content: center;
  	align-items: center;
  	display: flex;
}

.search-detail a {
  	text-align: center;
  	font-size: 14px;
  	color: #00a4d3;
}

#input-search {
    background: none;
  	outline: none;
  	border: none;
  	padding: 0;
  	margin: 0;
 	width: 0px;
  	transition: all 0.8s ease;
  	color: #00a4d3;
  	font-family: 'Roboto-Regular';
  	font-size: 16px;
  	font-weight: 600;
}

.search-detail:hover #input-search {
  	width: 150px;
  	margin: 0 20px;
  	border-radius: 1.875em;
  	background-color: #ffffff;
}

.search-detail:hover i {
	color: #00a4d3;
	border-radius: 30px;
  	background-color: #ffffff;
}

.search-box .search-detail:hover, .search-box #input-search:focus, .search-detail:focus-within {
	background-color: #ffffff;
  	border-radius: 30px;
}

#input-search:focus {
 	width: 150px;
  	margin: 0 20px;
  	background-color: #ffffff;
}

.search-detail a:focus {
	color: #00a4d3;
}

#input-search:focus i {
	color: #00a4d3;
}

#input-search::-webkit-input-placeholder {
  	color: #b8b8b8;
}

.res-log {
	width: 43%;
	float: right;
}

.btn-sm-menu {
	font-size: 18px;
    border-radius: 4px;
    display: none;
}

.main-menu {
	width: 100%;
	min-height: 40px;
}

.main-menu li {
	width: 14.27%;
	list-style: none;
	float: left;
	display: inline-block;
}

.rt-home li a {
	text-decoration: none;
	color: #d2eaf4;
	font-family: 'Roboto-Regular';
	font-size: 14px;
}

li a.home {
	color: #fff;
	font-family: 'Roboto-Black';
}

.footerlink a i:hover, .rt-header li a:hover, .main-menu li a:hover, .footer-mid-quicklink a:hover {
	color: #ffcb0f;
}

.footer-top-left a:hover {
	color: #ffcb0f;
}

.PLG {
	min-height: 868px;
	background-image:  url(../images/friends.webp), url(../images/cloudback.webp);
	background-repeat: no-repeat;
	background-color: #00a4d3;
	background-position: right bottom, center;
}

.PLG-lf-content {
	width: 51%;
	float: left;
}

.PLG-lf-content img {
	float: right;
	padding-top: 9.375em;
	width: 110%; 
}

.PLG-rt-content {
	padding-top: 18.75em;
	width: 48.7%;
	display: inline-block;
	float: right;
}

.play-learn-grow {
	font-family: 'Dosis-Bold';
	font-size: 72px;
    color: #00a4d3;
    float: right;
}

.YNP {
	font-family: 'Dosis-Medium';
	font-size: 48px;
    color: #00a4d3;
    float: right;
    margin-top: 0.42em;
}

.btn-admit {
    background: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #ffffff;
	width: 32%;
    text-align: center;
	border: none;
	border-radius: 10px;
	float: right;
    margin: 2.5em 0;
    padding: 0.9375em 0;
    text-decoration: none;
    max-width: 177px;
}

.welcome {
	min-height: 508px;
	background-size: cover;
	background-position: center;
	background-color: #00a4d3;
	background-image: url(../images/wc_back.webp);
}

.lf-welcome {
	width: 40%;
	display: inline-block;
	float: left;
	padding-top: 2.5em;
}

.rt-welcome {
	width: 60%;
	display: inline-block;
	padding-top: 50px;
}

.rt-welcome img {
	max-width: 626px;
}

.title-welcome {
	font-family: 'Dosis-Medium' ;
	font-size: 30px;
	color: #fff;
	padding-top: 0.67em;
}

.kidz {
	font-family: 'Dosis-Bold' ;
	font-size: 36px;
	color: #fff;
	padding: 0.28em 0 0.69em 0;
}

.welcome-content {
	width: 85%;
	padding-bottom: 2.86em;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #b6dfef;
	text-align: justify;
	line-height: 1.78em;
}

.welcome-content p {
	line-height: 25px;
}

.btn-readmore {
	background: #ffffff;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #00a4d3;
	border: none;
	border-radius: 10px;
	padding: 1.0625em 2.4375em;
	text-decoration: none;
	max-width: 167px;
}

.btn-readmore:hover, .btn-admit:hover, .btn-view-courses:hover, .btn-submit:hover {
	cursor: pointer;
	color: #ffcb0f;
    background-color: #4F4A4A;
}

.featured-courses {
	min-height: 1008px;
}

.featured-courses p {
	font-family: 'Roboto-Medium';
	font-size: 14px;
	color: #333333;
	line-height: 1.78em;
}

.fc-headtitle {
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #00a4d3;
	padding-top: 1em;
}
.fc-title p {
	width: 41%;
	font-family: 'Roboto-Medium';
	font-size: 14px;
}

.fc-content {
	display: flex;
	padding: 2.1875em 0 3.75em 0;;
}

.fc-eng-class, .fc-painting-class, .fc-math-class, .fc-tech {
	width: 24.4%;
	display: inline-block;
}

.fc-eng-class img, .fc-painting-class img {
	width: 100%;
	max-width: 278px;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

.fc-math-class img, .fc-tech img {
	width: 100%;
	max-width: 278px;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
	max-width: 278px;
}

.fc-content img:hover {
	transform: scale(1.3);
	cursor: pointer;
	transition: all 0.7s ease;
}

.thumbnail-ec, .thumbnail-pc {
    width: 100%;
	max-width: 278px;
    overflow: hidden; 
    border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

.thumbnail-mc, .thumbnail-t {
    width: 100%;
	max-width: 278px;
    overflow: hidden;
    border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;  
}

.fc-class-detail {
	min-height: 290px;
	width: 86%;
	text-align: justify;
	background-color: #fafafa;
	border-radius: 10%;
	padding: 1.25em;
	max-width: 238px;
}

.class-type {
	color: #717171;
	font-family: 'Roboto-Medium';
	font-size: 14px;
	padding: 1.42em;
}

.class-type i {
	padding-right: 0.35em;
}

.fc-class-detail a:hover{
	color: #ffcb0f;
}

.fc-class-descrip {
	color: #8a8a8a;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	padding: 1.57em 1.42em 2.35em 1.42em;
	line-height: 1.78em;
}

.fc-class-name {
	font-family: 'RobotoSlab-Regular';
	font-size: 24px;
	color: #000000;
	padding: 0 0.83em;
}

.applylink {
	color: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	text-decoration: none;
	padding: 0 1.25em;
}

.showcourses {
	text-align: center;
}

.btn-view-courses {
    background: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #ffffff;
    text-align: center;
	border: none;
	border-radius: 10px;
	padding: 1em 2.06em;
	text-decoration: none;
	max-width: 208px;
}

.school-facilities {
	background-image: url(../images/sc_back.webp);
	background-color: #00a4d3;
	min-height: 631px;
}

.sf-lf {
	width: 38%;
	display: inline-block;
	float: left;
	padding-top: 3.125em;
}

.sf-lf img {
	max-width: 416px;
}

.sf-rt {
	width: 57%;
	display: inline-block;
	float: right;
	margin: 8.5em 0;
}

.icon {
	border: 1px ;
    border-radius: 19px;
    background-color: #fff ;
    width: 160px;
    height: 160px;
    text-align: center;
    justify-content: all;
    display: inline-block;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #00a4d3;
    float: left;
    margin: 1em;
}

.icon:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.sf-lf-title {
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #ffffff;
	padding-top: 0.56em;
 }

.sf-lf p {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #ffffff;
	text-align: justify;
	line-height: 2em;
}

.teachers {
	min-height: 859px;
	padding-top: 50px;
}

.music-teacher, .language-teacher, .vince-principle, .math-teacher, .painting-teacher, .art-teacher, .dance-teacher, .principle {
	position: relative;
	width: 24%;
	display: inline-block;
}

.teachers-head-title {
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #00a4d3;
	width: 48%;
}
.teacher-head-detail {
	font-family: 'Roboto-Medium';
	font-size: 15px;
	color: #505050;
	width: 47%;
	line-height: 1.67em;
	padding: 1.33em 0;
}

.teacher-img img {
	width: 96%;
	padding-top: 25px;
	max-width: 263px;
} 

.job-title1, .job-title2, .job-title3 {
	position: absolute;
	bottom: 3px;
	background-color: #00a4d3;
	width: 96%;
	min-height: 37px;
	text-align: center;
	padding-top: 0.62em;
	max-width: 263px;
}

.job-title1 {
	border-radius: 0 0 0 29px;
}

.job-title2 {
	border-radius: 0 0 29px 0 ;
}

.job-title3 {
	border-radius: 0 0 29px 29px;
}

.principle img, .dance-teacher img {
	border-radius: 18% 18% 0% 18%;
}

.vince-principle img, .art-teacher img {
	border-radius: 18% 18% 18% 0%;
}

.math-teacher img, .language-teacher img {
	border-radius: 18% 0% 18% 18%;
}

.music-teacher img, .painting-teacher img {
	border-radius: 0% 18% 18% 18%;
}

.principle:hover img, .vince-principle:hover img, .dance-teacher:hover img, .art-teacher:hover img, .math-teacher:hover img, .painting-teacher:hover img, .language-teacher:hover img, .music-teacher:hover img{
	transform: scale(1.1);
	transition: 0.5s ease-in-out;
}

.principle:hover .job-title1, .vince-principle:hover .job-title2, .dance-teacher:hover .job-title1, .art-teacher:hover .job-title2, .math-teacher:hover .job-title3, .painting-teacher:hover .job-title3, .language-teacher:hover .job-title3, .music-teacher:hover .job-title3 {
	bottom: -11px;
	width: 289px;
	min-height: 45px;
	text-align: center;
	padding-top: 5px;
	margin-left: -13px;
	transition: 0.5s ease-in-out;
}

.teacher-name {
	font-family: 'Dosis-Bold';
	font-size: 24px;
	color: #ffffff;
}

.teacher-detail {
	font-family: 'Dosis-Medium';
	font-size: 14px;
	color: #a3d4ea;
}

.about-human {
	min-height: 752px;
	background-color: #00a4d3 ;
}

.about-human-bg {
	padding-top: 112px;
	background-image: url(../images/about_john.webp);
	background-position: bottom;
	background-repeat: no-repeat;
}

.cover-ah-img {
	position: relative;
	padding: 72px 0;
	min-height: 220px;
	background-image: url(../images/cover_img.webp);
	background-repeat: no-repeat;
	background-position: center;
}

.human-img {
	margin: 0 auto;
    width: 100%;
	display: none;
	text-align: center;
}

.each-human {
	display: none;
}

.about-human-title {
	text-align: center;
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #fff;
}

.about-human-detail {
	width: 82%;
	margin: 1.67em 5.4em;
	font-family: 'Roboto-Regular';
	font-size: 18px;
	color: #f4f9fc;
	line-height: 1.38em;
}

.dot-abj {
	cursor: pointer;
	min-height: 14px;
	width: 14px;
	border: solid 3px;
	border-radius: 50%;
	border-color: #ffffff;
	display: inline-block;
}

.active, .dot-abj:hover {
	background-color: #ffffff;
}

.nb-title {
	min-height: auto;
	font-family: 'Dosis-Bold';
	font-size: 36px;
	color: #00a4d3;
	padding-top: 1em;
}

.nb-listnews {
	width: 50%;
}

.nb-listnews li {
	display: inline-block;
	list-style: none;
	padding: 1.25em 0;
}

.nb-listnews li a {
	font-family: 'Roboto-Medium'; 
	font-size: 16px;
	text-decoration: none;
}

.nb-listnews li a:hover {
	color: #00a4d3;
}

.nb-head a{
	color: #808080;
}

.in-use a, .in-use a hr {
	color: #00a4d3;
	border-color: #00a4d3;
}

.news {
	display: none;
}

.space hr {
	width: 50px;
	margin-left: -5px;
	margin-right: -5px;
}

.nb-content {
	width: 100%;
	min-height: 350px;
}

.nb-content a img:hover {
	transform: scale(1.1);
	transition: 0.5s ease-in-out;
}

.nb-news {
	width: 31%;
	display: inline-block;
	padding-right: 17px;
}

.nb-news p {
	width: 100%;
	line-height: 1.78em;
	max-width: 353px;
}

.nb-news img {
	width: 100%;
	min-height: 240px;
	border-radius: 13px;
	max-width: 353px;
}

.date-news {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #b2b2b2;
	line-height: 2.14em;	
}

.news-detail {
	font-family: 'Roboto-Regular';
	font-size: 16px;
	color: #505050;
	line-height: 2.14em;
}

.nb-detail {
	background-color: #f5f5f5;
	display: flex;
	font-family: 'Roboto-Medium';
	font-size: 18px;
	color: #00a4d3;
	margin-top: 1.11em;
	width: 100%;
}

.nb-detail img {
	min-height: 76px;
	padding: 2.6em 0 1.1em 0;
}

.nb-info {
	width: 80%;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #787878;
	padding-top: 0.71em;
	line-height: 1.42em;
}

.nb-address, .nb-notice-board, .nb-office-hour, .nb-admission {
	width: 24%;
	min-height: 243px;
	padding-left: 75px;
}

.nb-address, .nb-office-hour {
	background-color: #f5f5f5;
}

.nb-notice-board, .nb-admission {
	background-color: #fafafa;
}


#footer {
	background-repeat: no-repeat;
	min-height: 1080px;
	bottom: 0;
}

.top-bg {
	min-height: 260px;
	background-repeat: no-repeat;
	background-image: url(../images/rainbow.webp);
	background-color: #00a4d3;
	background-position: top right;
}

.cloud-bg {
	min-height: 133px;
	background-repeat: no-repeat;
	background-image: url(../images/footercloud.webp);
	margin-top: -132px;
}

.bottom-bg {
	background-repeat: no-repeat;
	background-image: url(../images/footerbackground.webp);
	min-height: 333px;
}

.footer-top {
	width: 100%;
}

.footer-top-left {
	width: 17%;
	display: inline-block;
	line-height: 1.56em;
}

.footer-top-right {
	width: 83%;
	float: right;
	display: inline-block;
}

.footer-top-right button, .footer-top-right input {
	float: right;
} 

.footer-top-right input {
	margin-right: 0.83em;
	border: 1px solid;
	border-color: #66c8e5;
	font-family: 'Roboto-Regular';
	font-size: 12px;
	min-height: 44px;
	width: 39%;
	max-width: 381px;
	color: #000;
	padding-left: 0.83em;
}

.footer-top-right::-webkit-input-placeholder {
  	color: #b8b8b8;
}

.footer-top-right button {
	border: 1px;
    background-color: #00a4d3;
	font-family: 'Roboto-Medium';
	font-size: 14px;
	color: #fff;
	background-color: #00a4d3;
	min-height: 48px;
	max-width: 143px;
}

.footer-mid {
	width: 100%;
	padding-top: 100px;
}

.footer-mid-address {
	width: 34%;
	list-style: none;
}

.footer-mid-quicklink {
	width: 23%;
	list-style: none;
}

.footer-mid-insta {
	width: 43%;
}

.insta {
	width: 100%;
	text-align: right;
	font-family: 'Roboto-Bold';
	font-size: 16px;
	color: #00a4d3;
	float: right;
}

.insta-img {
	width: 100%;
	float: right;
}

.insta-img li{
	display: inline-block;
	list-style: none;
	min-height: 30px;	
}

.insta-img img {
	border: 1px;
	border-radius: 27%;
    background-color: #00a4d3;
    margin-top: 30px;
    width: 100px;
    min-height: 100px;
	float: right;
}

.icon img {
	padding-top: 45px;
}

.top_content, .footer-mid, .bottom_content {
	display: flex;
	flex-wrap: wrap;
}

.top_content {
	padding-top: 197px;
	min-height: 65px;
}

.fma-head {
	font-family: 'Roboto-Bold';
	font-size: 16px;
	color: #00a4d3;
}

.footer-mid li {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #666666;
	line-height: 1.78em;
}

.footer-mid li a {
	text-decoration: none;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #666666;
	line-height: 1.78em;
}

.footer-detail-head {
	font-family: 'Roboto-Bold';
	font-size: 16px;
	color: #00a4d3;
}

.footer-detail {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #666666;
}

.signupfornews {
	text-decoration: none;
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #00a4d3;
}

.footer-bottom {
	display: flex;
	flex-wrap: wrap;
}

.copyright {
	width: 35%;
	font-family: 'RobotoSlab-Bold';
	font-size: 14px;
	color: #00a4d3;
	padding: 2.85em 3.57em 0 0;
}

.footer-bottom img {
	width: 24%;
	max-width: 273px;
}

.footerlink {
	width: 36%;
	padding-top: 2.5em;
	float: right;
}

.footerlink i {
	font-size: 36px;
	color: #00a4d3;
	padding-left: 1.1em;
}

.footerlink ul li {
	display: inline-block;
	float: left;
}

